.video-parent {
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  display: grid;
}

#video-player {
  grid-column: 1/2;
  position: relative;
  padding-left: 6px;
}

#video-player .ps__rail-y {
  left: 0px;
}

#video-player .ps__thumb-y {
  left: 0px;
}

#video-details {
  position: relative;
  grid-column: 2/3;
  text-align: center;
  padding-right: 6px;
}

#transcript {
}

