<header class="nav grid grid-cols-2 p-1">
  <div class="logo">
    <a href="/">
      <div class="text-5xl text-purple-700 font-semibold">
        &Dfr;&ifr;&sfr;&Sopf;&#120109;&efr;&lfr;&lfr;
      </div>
    </a>  
  </div>
</header>

